.widget-container {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
  }
  
  .chart-container {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
}
  
  @media screen and (max-width: 900px) {
    .widget-container,
    .chart-container {
      display: flex !important;
      flex-direction: column;
    }
  }